
/* Your CSS Code here. */
#btn {
  color: white;
  border: none;
  border-radius: 5px;
  background: black;
}

#btn:hover {
   color: black;
   border: none;
   border-radius: 30px;
   background: yellow;
}
